<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title>DISPLAYING OUTPUT OF TASK</title>
</head>
<body>
	<div class="container bg-warning">
	<table border="10px" margin="10px" cellpadding="20px">
		<tr>
		   <thead>
			    <th>userf</th>
			    <th>userl</th>
			    <th>userphone</th>
			    <th>useremail</th>
			    <th>useradress</th>
			    <th>userlanguage</th>
			    <th>usergender</th>
		    </thead>
		</tr>
		<tr>
			<tbody>
				<td>{{user1}}</td>
				<td>{{user2}}</td>
				<td>{{user3}}</td>
				<td>{{user4}}</td>
				<td>{{user5}}</td>
				<td>{{user6}}</td>
				<td>{{user7}}</td>
			</tbody>
		</tr>

	</table>

</body>
</html>